.p-detail-commentary {
    background-color: $color-section-bg;
    border-radius: 5px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding: 15% 8%;

    @include responsive(md) {
        width: 73%;
        padding: 8% 8%;
    }

}