.p-detail-mv {
    margin-bottom: 150px;
}

.p-detail-worklink {
    margin-bottom: 70px;
    margin-top: 30px;

    @include responsive(md) {
        margin-bottom: 110px;
        margin-top: 30px;
    }
}