/* ========================================================
homeのworks内illustration,practice
=========================================================*/
.p-worklink {
    width: 92.14%;
    margin-left: auto;
    margin-right: auto;

    &__sub-heading {
        margin-bottom: 30px;
    }

    &__caption {
        padding-bottom: 50px;
        text-align: center;
    }

    &__img {
        width: 100%;
        margin-bottom: 50px;
    }
}

/* ========================================================
homeのworks内illustration,practiceここまで
=========================================================*/