    /* ========================================================
    自己紹介欄の余白調整用
    =========================================================*/
    .u-about {

        /* home */
        &__home-mb {
            margin-bottom: 220px;
        }

        /* homeここまで */

        /* about */
        &__about-heading-mb {
            margin-bottom: 90px;
        }

        &__about {
            padding-top: 80px;
            padding-bottom: 80px;
            margin-bottom: 130px;
        }

        /* aboutここまで */
    }

    /* ========================================================
    自己紹介欄の余白調整ここまで
    =========================================================*/