/* ========================================================
ベースレイアウト
=========================================================*/

.l-main {
    background-color: $color-body-bg;

    &__upper {
        background-color: $color-body-bg;
        height: 70px;
    }

}

/* ========================================================
ベースレイアウトここまで
=========================================================*/

/* ========================================================
マージンボトム
=========================================================*/
/* 共通
homeのMV,aboutの自己紹介欄,worksdetailの作品概要欄以下はこれ */
.l-main__mb-common {
    margin-bottom: 130px;
}

/* 共通ここまで */

/* 個別 */
.l-main__mb-home-mv {
    margin-bottom: 130px;

    // @include responsive(lg) {
    //     margin-bottom: 200px;
    // }
}

.l-main__mb-worksdetail-mv {
    margin-bottom: 50px;

    @include responsive(lg) {
        margin-bottom: 100px;
    }
}

/* 個別ここまで */


/* ========================================================
マージンボトムここまで
=========================================================*/