// ========================================================
//ブレイクポイント
//=========================================================
$breakpoints: ('sm': (min-width: 640px,
    ),
    'md': (min-width: 768px,
    ),
    'lg': (min-width: 1024px,
    ),
    'xl': (min-width: 1280px,
    ),
    'utl': (min-width: 1323px,
    ),
) !default;

@mixin responsive($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

    // マップ型で定義されていない値が呼び出された時はエラーを返す
    @else {
        @error "指定されたブレークポイントは定義されていません。"+"指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
    }
}

// ========================================================
//ブレイクポイントここまで
//=========================================================


// ========================================================
//clearfix float解除用
//書き方
//.list {
//  @include clearfix();
//  
//  & > .item {
//    float: left;
//   }
// }
// =========================================================
@mixin clearfix() {
    &::after {
        clear: both;
        content: '';
        display: block;
    }
}

// ========================================================
// clearfix float解除用ここまで
// =========================================================

// ========================================================
// 親要素に対して中央寄せ
// 書き方 @include center(xy)
// =========================================================
@mixin center($direction) {
    position: absolute;

    @if $direction==xy {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @else if $direction==x {
        left: 50%;
        transform: translateX(-50%);
    }

    @else if $direction==y {
        top: 50%;
        transform: translateY(-50%);
    }
}

// ========================================================
// 親要素に対して中央寄せここまで
// =========================================================