.c-modal {
    &__a:hover {
        opacity: 0.8;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9999;
    overflow-x: scroll;


    &__bigimg {
        position: absolute;
        width: 80%;
        max-width: 800px;
        top: 80px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        // @include responsive (lg) {
        //     max-width: 800px;
        // }
    }

    &__close-btn {
        color: #fff;
        font-size: 40px;
        position: absolute;
        left: 20px;
        top: 0;
    }

    &__close-btn-a {
        color: #fff;
        text-decoration: none;
    }
}